body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #000;
  font-family: Inter, sans-serif;
  color: #999;
  font-size: 16px;
  line-height: 24px;
  cursor: default;
}

h1 {
  margin-top: 24px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 600;
  cursor: default;
}

h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.container {
  max-width: 988px;
}

.container.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 999px;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.card-paragraph {
  margin-bottom: 0px;
  color: #6c6c6c;
}

.card {
  position: relative;
  width: 308px;
  height: 320px;
  padding: 4px;
  border-radius: 12px;
  color: #999;
  text-decoration: none;
}

.card.swift {
  background-image: url('../images/stroke-ios.png');
  background-position: 0px 0px;
  background-size: cover;
}

.card.figma {
  background-image: url('../images/stroke-figma.png');
  background-position: 0px 0px;
  background-size: cover;
}

.card.webflow {
  margin-right: 32px;
  margin-left: 32px;
  background-image: url('../images/stroke-webflow.png');
  background-position: 0px 0px;
  background-size: cover;
}

.card-logo {
  position: absolute;
  left: 32px;
  top: 40px;
  right: auto;
  bottom: auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.card-content {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 36px 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-radius: 8px;
  background-color: #000;
  text-align: left;
}

.glow-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -1;
  border-radius: 12px;
  opacity: 0;
  -webkit-filter: saturate(200%) blur(35px);
  filter: saturate(200%) blur(35px);
}

.contact {
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
  text-decoration: none;
}

.contact:hover {
  box-shadow: inset 0 -4px 0 0 #fff;
}

.app-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-section.tzolkin-maya {
  background-color: #f0f0f0;
}

.app-section.gentleman {
  background-color: #e0e0e0;
}

.app-section.suji {
  background-color: #fcfcfc;
}

.app-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 8px;
  padding-left: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.app-name {
  padding-left: 16px;
  color: #111;
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: none;
}

.app-tag-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.app-tag-group.mobile {
  display: none;
}

.app-tag {
  margin: 4px;
  padding: 2px 8px;
  border-radius: 6px;
  background-color: #111;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
}

.app-devices {
  padding-top: 16px;
}

.am-apps {
  position: fixed;
  left: 32px;
  top: 32px;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.twitter-link {
  position: fixed;
  left: auto;
  top: 32px;
  right: 32px;
  bottom: auto;
  padding: 4px;
}

.body-apps {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .container.cards {
    padding-top: 40px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .card {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  body {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 19px;
    line-height: 22px;
  }

  .card-paragraph {
    font-size: 14px;
    line-height: 16px;
  }

  .card {
    width: 262px;
    height: 270px;
    margin-bottom: 24px;
  }

  .card-content {
    padding: 28px 20px 36px;
  }

  .footer-span {
    display: block;
  }

  .app-name {
    padding-left: 8px;
    font-size: 26px;
  }

  .app-tag-group {
    display: none;
  }

  .app-tag-group.mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .app-devices {
    padding-top: 0px;
  }

  .am-apps {
    left: 16px;
    top: 16px;
  }

  .twitter-link {
    top: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 479px) {
  .container.cards {
    padding-top: 30px;
  }

  .app-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .app-title {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .app-name.small {
    font-size: 24px;
    line-height: 32px;
  }
}

