.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #999;
  cursor: default;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

h1 {
  color: #fff;
  cursor: default;
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2em;
}

h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.header {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.container {
  max-width: 988px;
}

.container.cards {
  max-width: 999px;
  text-align: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-paragraph {
  color: #6c6c6c;
  margin-bottom: 0;
}

.card {
  width: 308px;
  height: 320px;
  color: #999;
  border-radius: 12px;
  padding: 4px;
  text-decoration: none;
  position: relative;
}

.card.swift {
  background-image: url('../images/stroke-ios.png');
  background-position: 0 0;
  background-size: cover;
}

.card.figma {
  background-image: url('../images/stroke-figma.png');
  background-position: 0 0;
  background-size: cover;
}

.card.webflow {
  background-image: url('../images/stroke-webflow.png');
  background-position: 0 0;
  background-size: cover;
  margin-left: 32px;
  margin-right: 32px;
}

.card-logo {
  align-self: flex-start;
  position: absolute;
  top: 40px;
  bottom: auto;
  left: 32px;
  right: auto;
}

.card-content {
  height: 100%;
  text-align: left;
  background-color: #000;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 36px 24px 32px;
  display: flex;
  position: static;
}

.glow-image {
  z-index: -1;
  opacity: 0;
  filter: saturate(200%) blur(35px);
  border-radius: 12px;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.contact {
  color: #fff;
  text-decoration: none;
  transition: box-shadow .2s;
  box-shadow: inset 0 0 #fff;
}

.contact:hover {
  box-shadow: inset 0 -4px #fff;
}

.app-section {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.app-section.tzolkin-maya {
  background-color: #e0e0e0;
}

.app-section.gentleman {
  background-color: #d0d0d0;
}

.app-section.suji {
  background-color: #f0f0f0;
}

.app-section.bus-fuengirola {
  background-color: #fcfcfc;
}

.app-container {
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
}

.app-title {
  display: flex;
}

.app-name {
  color: #111;
  letter-spacing: .4px;
  text-transform: none;
  padding-left: 16px;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
}

.app-tag-group {
  list-style-type: none;
  display: flex;
}

.app-tag-group.mobile {
  display: none;
}

.app-tag {
  color: #fff;
  background-color: #111;
  border-radius: 6px;
  margin: 4px;
  padding: 2px 8px;
  font-size: 13px;
  line-height: 20px;
}

.app-devices {
  padding-top: 16px;
}

.am-apps {
  display: flex;
  position: fixed;
  top: 32px;
  bottom: auto;
  left: 32px;
  right: auto;
}

.twitter-link {
  padding: 4px;
  position: fixed;
  top: 32px;
  bottom: auto;
  left: auto;
  right: 32px;
}

.body-apps {
  background-color: #fff;
}

.privacy-policy-body {
  color: #333;
  background-color: #fff;
  padding: 16px;
  display: block;
}

.privacy-heading {
  color: #888;
  margin-bottom: 24px;
  font-size: 36px;
}

.privacy-bold-text {
  font-weight: 600;
}

.uses-body {
  color: #1d1d1f;
  background-color: #fff;
  margin-bottom: 40px;
  display: block;
}

.uses-heading-1 {
  color: #1d1d1f;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 32px;
}

.uses-navigation-bar {
  background-color: rgba(0, 0, 0, 0);
}

.uses-heading-2 {
  color: #1d1d1f;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

.uses-section {
  border-top: 1px solid #d2d2d7;
}

.uses-content {
  width: 78%;
  min-height: 20px;
}

.uses-content.devices {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uses-content.apps {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.uses-container {
  border-top: 1px solid #d2d2d7;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.uses-container.uses-container-last {
  border-bottom: 1px solid #d2d2d7;
}

.uses-title {
  width: 22%;
}

.nav-menu {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  display: block;
}

.uses-nav-link {
  padding-left: 20px;
  padding-right: 0;
  font-size: 12px;
}

.uses-item {
  text-align: center;
}

.uses-item-name {
  padding-top: 14px;
  font-size: 14px;
}

.apple-watch {
  margin-top: 24px;
}

.appple-tv {
  margin-top: 34px;
}

.iphone-12 {
  margin-top: 5px;
}

.mac-studio {
  margin-top: 24px;
}

.steam-deck {
  margin-top: 5px;
}

.text-block {
  color: #86868b;
  font-size: 12px;
  line-height: 1.33em;
  display: inline;
}

.uses-apps-item {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  display: flex;
}

.uses-devices-link {
  color: #1d1d1f;
  text-decoration: none;
}

.uses-apps-link {
  text-decoration: none;
}

.hidden {
  display: none;
}

.body-kit {
  background-color: #eceded;
  justify-content: flex-start;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

.grid {
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.kit-element {
  text-align: center;
}

.kit-name {
  opacity: 0;
  color: #4f4f4f;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.kit-container {
  max-width: 1200px;
}

.kit-section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.link-kit {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block;
}

.swift {
  margin: 8px;
}

.xcode-cloud {
  margin-top: 4px;
  margin-bottom: 4px;
}

.apple-developer-brandmark {
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  .container.cards {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .card {
    margin-bottom: 32px;
  }

  .privacy-heading {
    margin-top: 8px;
  }

  .uses-content.apps {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .kit-name {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  body {
    justify-content: flex-start;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 19px;
    line-height: 22px;
  }

  .card-paragraph {
    font-size: 14px;
    line-height: 16px;
  }

  .card {
    width: 262px;
    height: 270px;
    margin-bottom: 24px;
  }

  .card-content {
    padding: 28px 18px 36px;
  }

  .footer-span {
    display: block;
  }

  .app-name {
    padding-left: 8px;
    font-size: 26px;
  }

  .app-tag-group {
    display: none;
  }

  .app-tag-group.mobile {
    display: flex;
  }

  .app-devices {
    padding-top: 0;
  }

  .am-apps {
    top: 16px;
    left: 16px;
  }

  .twitter-link {
    top: 16px;
    right: 16px;
  }

  .privacy-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
  }

  .privacy-paragraph {
    font-size: 14px;
  }

  .uses-content.devices, .uses-content.apps {
    width: auto;
  }

  .uses-container {
    grid-row-gap: 24px;
    flex-direction: column;
    padding: 20px;
  }

  .uses-title {
    width: auto;
  }

  .body-kit {
    padding-left: 0;
    padding-right: 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .container.cards {
    padding-top: 30px;
  }

  .app-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .app-title {
    align-items: flex-start;
  }

  .app-name.small {
    font-size: 24px;
    line-height: 32px;
  }

  .uses-content.devices {
    grid-template-columns: 1fr 1fr;
  }

  .uses-content.apps {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

#w-node-_0dedb70d-4c96-9155-27d5-c8b92f85600a-06e58b51, #w-node-fd9015ac-eb45-487b-fc93-0ff853600597-06e58b51, #w-node-aca63c5e-30fb-877c-3b40-52d01647d06b-06e58b51, #w-node-_0a93aabc-c44a-89f9-b353-675f2f75f5b3-06e58b51, #w-node-da5a4870-5ccc-b385-f310-84337e820b3b-06e58b51, #w-node-_1824c4c1-f5e4-f93f-dd33-4b90a5008f35-06e58b51, #w-node-efadf934-543c-4786-63ac-e81c18f86815-06e58b51, #w-node-_41cfd589-efad-c1f9-9e78-1fda294ca486-06e58b51, #w-node-_5797154c-3c36-a1d4-42eb-f752ea27060a-06e58b51, #w-node-_067e0203-e418-40a4-ec5b-4969a2f58fe2-06e58b51, #w-node-bc22d75b-2a85-6e58-d48b-9f8e7b8c01cf-06e58b51, #w-node-d93b85a0-6d7e-50f3-da43-4da177b2b8c3-06e58b51, #w-node-f00b9b6f-55d0-f27d-70f5-1cf27be8ba10-06e58b51, #w-node-_6135edd6-1a6c-9cb0-2b6e-44308685c07a-06e58b51, #w-node-a269fc27-ed1f-a17b-3ab1-9b2b1e8960b7-06e58b51, #w-node-fbd63d99-ddd1-53cd-d3f2-076795506500-06e58b51, #w-node-_85fd0a74-0671-b393-1138-91a1b462f2af-06e58b51, #w-node-_6a155921-d254-da65-0e14-c567a9440b84-06e58b51, #w-node-c12ef127-9b25-faf4-4181-34df69fa445e-06e58b51, #w-node-_346af0cf-733d-6748-4ddf-d08581dda981-06e58b51, #w-node-_419d4b52-de44-ed6f-16f6-3e2cc7bce115-06e58b51, #w-node-_15897e09-8623-fb08-bfb3-b5fbc0798796-06e58b51, #w-node-a4ad422c-df55-30b7-9e0b-7ea77c1228ad-06e58b51, #w-node-a4d8a48c-14ff-e63d-097e-164668c0b096-06e58b51, #w-node-_99a1a5bc-a155-9fc9-1d64-655bbc4c5fe1-06e58b51, #w-node-cf088249-b660-406d-240b-925cfcf6f7e5-06e58b51, #w-node-_66aa6c5b-6cf4-8451-57ca-f66c32640fc5-06e58b51, #w-node-afd797c9-d172-ac48-9039-e3d25e86e521-06e58b51, #w-node-_29842162-082c-88a6-a0e0-07e0bc56e953-06e58b51, #w-node-_52f00ec8-b4c1-a99b-6180-001ff3686973-06e58b51, #w-node-fa877365-dd74-d751-eca4-c59f88e925de-06e58b51, #w-node-_2d0d6116-e656-964b-3c63-ca5b9c9c8a75-06e58b51, #w-node-_14a20253-db92-b936-5887-4bc9189b9efe-06e58b51, #w-node-d4290c4d-1505-7654-17d3-82968fa8f2d1-06e58b51, #w-node-e5d1c461-5da4-cbc0-53c4-c10d9c85a670-06e58b51, #w-node-_8e07b228-3218-411b-4b45-347a0471995d-06e58b51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


